<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="list3">
    <!-- <h2 class="h2-sign">Nuevo Inventario</h2> -->
    <div class="columnas">
      <div class="column1">
        <div class="field">
          <ul>
            <li>Autoridad que envia:</li>
            <li><%= f.text_field :authority %></li>
          </ul>
        </div>
        <div class="field">
          <ul>
            <li>Numero de serie/Motor:</li>
            <li><%= f.text_field :serial %></li>
          </ul>
        </div>
        <div class="field">
          <ul>
            <li>Maniobras:</li>
            <li><%= f.text_field :maneuver %></li>
          </ul>
        </div>
      </div>
      <div class="column2">
        <div class="field">
          <ul>
            <li>Tipo de servicio:</li>
            <li class="bigger-li"><%= f.radio_button(:service_type, "local") %> Local  <%= f.radio_button(:service_type, "foraneo") %> Foraneo</li>
          </ul>
        </div>
        <div class="field">
          <ul>
            <li>Numero de inventario:</li>
            <li><%= f.text_field :number %></li>
          </ul>
        </div>
        <div class="field">
          <ul>
            <li>Lugar de partida:</li>
            <li><%= f.text_field :departure_place %></li>
          </ul>
        </div>
      </div>
      <div class="column3">
        <div class="field">
          <ul>
            <li>Lugar de siniestro:</li>
            <li><%= f.text_field :sinister_place %></li>
          </ul>
        </div>
        <div class="field">
          <ul>
            <li>Nombre del conductor:</li>
            <li><%= f.text_field :driver_name %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="registrar-cen">
      <div class="field">
        <%= submit_tag("Finalizar") %>
        <%= link_to 'Atras', inventories_path %>
      </div>
    </div>
  </div>
<% end %>
