<p id="notice"><%= notice %></p>

<h2 class="h2-sign">Inventarios</h2>
<div class="inventories-contenedor">

  <%= search_form_for @q do |f| %>

  <%= f.search_field :service_client_cont, placeholder: 'Nombre del cliente' %>
  <%= f.search_field :service_ubication_cont, placeholder: 'Ubicación' %>
  <%= f.search_field :service_destiny_cont, placeholder: 'Destino' %>
  <%= f.search_field :number_cont, placeholder: 'Número de inventario' %>
  <%= f.search_field :service_keys_num_cont, placeholder: 'Número de llaves' %>
  <%= f.search_field :service_brand_cont, placeholder: 'Marca' %>
  <%= f.search_field :service_car_type_cont, placeholder: 'Tipo' %>
  <%= f.search_field :service_color_cont, placeholder: 'Color' %>
  <%= f.search_field :service_licence_plates_cont, placeholder: 'Placas' %>
  <%= f.search_field :service_model_cont, placeholder: 'Modelo' %>
  <%= f.search_field :service_operator_name_cont, placeholder: 'Operador' %>
  <%= f.search_field :service_truck_number_cont, placeholder: 'Grua' %>

  <div class="SN-contenedor">
    <%= f.submit "Buscar"%>
    <%= link_to 'Nuevo Inventario', new_inventory_path %>
  </div>
  <%end%>

  <div class="resultado-inventories">
    <% @inventory.each do |inventory| %>
    <div class="S_A">
      <div class="campo_data"><span>Autoridad que envia: </span></div>
      <div class="campo_data2"><%= inventory.authority %></div>
      <div class="campo_data"><span>Numero de serie/Motor: </span></div>
      <div class="campo_data2"><%= inventory.serial %></div>
      <div class="campo_data"><span>Maniobras: </span></div>
      <div class="campo_data2"><%= inventory.maneuver %></div>
      <div class="campo_data"><span>Tipo de servicio: </span></div>
      <div class="campo_data2"><%= inventory.service_type %></div>
      <div class="campo_data"><span>Numero de inventario: </span></div>
      <div class="campo_data2"><%= inventory.number %></div>
      <div class="campo_data"><span>Lugar de partida: </span></div>
      <div class="campo_data2"><%= inventory.departure_place %></div>
      <div class="campo_data"><span>Lugar de siniestro: </span></div>
      <div class="campo_data2"><%= inventory.sinister_place %></div>
      <div class="campo_data"><span>Nombre del conductor: </span></div>
      <div class="campo_data2"><%= inventory.driver_name %></div>
      <div class="detail">
        <%= link_to 'Mostrar detalle', inventory %>
        <%= link_to 'Editar', edit_inventory_path(inventory) %>
        <!-- <%= link_to 'Borrar', inventory, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      </div>
    </div>
    <% end %>
  </div>

</div>
