<%= form_for @assistance do |a| %>
    <%= a.fields_for :service do |serv| %>
        <div class="list3">
          <h2 class="h2-sign">Campos asistencia</h2>
          <div class="columnas">
            <div class="column1">
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Numero de expediente:</li>
                    <li> <%= a.text_field :record_number %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Quien autoriza:</li>
                    <li> <%= a.text_field :company_user %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Nombre del afiliado:</li>
                    <li> <%= a.text_field :affiliate_name %></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="column2">
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Afiliado paga:</li>
                    <li> <%= a.number_field :affiliate_pays %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Compañia paga:</li>
                    <li> <%= a.number_field :company_pays %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Contacto:</li>
                    <li><%= a.time_field :contact_time %></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="column3">
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Termino:</li>
                    <li><%= a.time_field :end_time %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Quien cotizo:</li>
                    <li><%= a.text_field :who_quoted %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Comentarios:</li>
                    <li><%= a.text_field :comments %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <h2 class="h2-sign">Campos servicio</h2>
          <%# NEW SERVICE FORM FIELDS %>
          <div class="columnas">
            <div class="column1">
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Fecha:</li>
                    <li> <%= serv.date_field :date, :value => current_page?(:action => 'new') ? Time.now.strftime('%Y-%m-%d') : nil %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Hora:</li>
                    <li> <%= serv.time_field :hour %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Nombre del cliente:</li>
                    <li> <%= serv.text_field :client %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Ubicación:</li>
                    <li><%= serv.text_field :ubication %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Destino:</li>
                    <li> <%= serv.text_field :destiny %></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="column2">
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Operador:</li>
                    <li><%= serv.collection_select :operator_id, Operator.all, :id, :name %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Grua:</li>
                    <li><%= serv.collection_select :truck_id, Truck.all, :id, :number %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Número de inventario:</li>
                    <li><%= serv.number_field :inventary_num %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Número de llaves:</li>
                    <li><%= serv.number_field :keys_num %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Marca:</li>
                    <li> <%= serv.text_field :brand %></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="column3">
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Tipo:</li>
                    <li> <%= serv.text_field :car_type %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Modelo:</li>
                    <li> <%= serv.text_field :model %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Color:</li>
                    <li><%= serv.text_field :color %></li>
                  </ul>
                </div>
              </div>
              <div class="field">
                <div class="left">
                  <ul>
                    <li>Placas:</li>
                    <li> <%= serv.text_field :licence_plates %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="registrar">
            <div class="field">
              <div class="left">
                <ul>
                  <li><%= submit_tag("Registrar") %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>
