<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= wicked_pdf_stylesheet_link_tag "pdfstyle" %>

    <link rel="stylesheet" type="text/css" href="C:\Users\Dani\Documents\GitHub\gda-rails\control-gda\app\assets\stylesheets\application.css">
</head>

<body class="pdf-body">
  <div class="pdf-header">
    <div>
      <img src="C:\Users\Dani\Documents\GitHub\gda-rails\control-gda\app\assets\images\logo_black2.png" alt="Logo_pdf">
    </div>
    <div class="pdf-h-texto">
      <p>Refacciones y adaptaciones</p>
      <p>"García de Alba"</p>
      <p>Servicio de grúa y arrastre</p>
      <p>Luis Gustavo García de Alba Villa</p>
    </div>
  </div>

  <div class="pdf-container">
    <div class="pdf-sec1">
      <div>
        <ul>
          <li>Número de asistencia:</li>
          <li>#<%= @assistance.id %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Número de servicio:</li>
          <li>#<%= @assistance.service.id %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Fecha:</li>
          <li><%= @assistance.service.date %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Hora:</li>
          <li><%= @assistance.service.hour %></li>
        </ul>
      </div>
    </div>

    <div class="pdf-sec2">
      <div>
        <ul>
          <li>Compañía:</li>
          <li><%= @assistance.service.client %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Numero de expediente:</li>
          <li><%= @assistance.record_number %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Quien autoriza:</li>
          <li><%= @assistance.company_user %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Nombre del afiliado:</li>
          <li><%= @assistance.affiliate_name %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Quien cotizo:</li>
          <li><%= @assistance.who_quoted %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Operador:</li>
          <li><%= @assistance.service.operator.name %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Grúa:</li>
          <li><%= @assistance.service.truck.number %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Ubicación:</li>
          <li><%= @assistance.service.ubication %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Destino:</li>
          <li><%= @assistance.service.destiny %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Marca:</li>
          <li><%= @assistance.service.brand %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Tipo:</li>
          <li><%= @assistance.service.car_type %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Modelo:</li>
          <li><%= @assistance.service.model %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Color:</li>
          <li><%= @assistance.service.color %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Placas:</li>
          <li><%= @assistance.service.licence_plates %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Afiliado paga:</li>
          <li><%= @assistance.affiliate_pays %>$</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Compañía paga:</li>
          <li><%= @assistance.company_pays %>$</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Contacto:</li>
          <li><%= @assistance.contact_time %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Termino:</li>
          <li><%= @assistance.end_time %></li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Comentarios:</li>
          <li><%= @assistance.comments %></li>
        </ul>
      </div>
      <p>Recibo generado: <%= Time.zone.now.strftime('%d/%m/%Y - %I:%M:%S %p') %></p>
    </div>
  </div>


  <!-- <div>
    <table bgborder="0" width=100% style="font-family: Arial; color: #072151;">
      <tr align=center style="font-size: 28px;">
        <td> Refacciones y adaptaciones </td>
        <td rowspan="4"><img src="C:\Users\Oscar\Documents\GitHub\gda-rails\control-gda\app\assets\images\logo.png" width="150" height="150" align=right></td>
     </tr>
     <tr align=center style="font-size: 32px;">
       <td> "García de Alba" </td>
    </tr>
    <tr align=center style="font-size: 24px;">
      <td> Servicio de grúa y arrastre </td>
   </tr>
   <tr align=center style="font-size: 22px;">
     <td> Luis Gustavo García de Alba Villa </td>
  </tr>
</table>
</div>
  <br>

  <table border="0" width=100% style="font-size: 18px; font-family: Arial;">
    <tr height=20></tr>
    <tr align=right>
      <td width=30%  bgcolor="#DCDCDC" align=left><b><span>Número de asistencia:</span></b></td><td width=20%  > #<%= @assistance.id %></td>
      <td width=70%></tr>
    </tr>
    <tr height=5></tr>
    <tr align=right>
      <td width=30%  bgcolor="#DCDCDC" align=left><b><span>Número de servicio:</span></b></td><td width=20%  > #<%= @assistance.service.id %></td>
      <td width=70%></tr>
    </tr>
    <tr height=35></tr>
  </table>

  <table  border="0" width=100% style="float: right; font-size: 18px; font-family: Arial;">
    <tr >
      <td width=50%></td>
      <td width=15% bgcolor="#DCDCDC"><b><span>Fecha:</span></b></td><td width=35% > <%= @assistance.service.date %></td>
    </tr>
      <tr>
        <td width=50%></td>
        <td width=15% bgcolor="#DCDCDC"><b><span>Hora:</span>  </b> </td><td width=35% ><%= @assistance.service.hour %></td>
      </tr>
  </table>

  <table border="0" width=100% style="float: right; font-size: 18px; font-family: Arial;">
    <tr height=40></tr>
    <tr align=right>
      <td width=20%  bgcolor="#DCDCDC" align=left><b><span>Compañía:</span></b></td><td width=30% ><%= @assistance.service.client %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Numero de expediente:</span></b></td><td width=30% align=right><%= @assistance.record_number %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Quien autoriza:</span></b></td><td width=30% align=right><%= @assistance.company_user %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Nombre del afiliado:</span></b></td><td width=30% align=right><%= @assistance.affiliate_name %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Quien cotizo:</span>  </b></td><td width=30% align=right><%= @assistance.who_quoted %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Operador:</span> </b></td><td width=30% align=right><%= @assistance.service.operator.name %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Grúa:</span> </b></td><td width=30% align=right> <%= @assistance.service.truck.number %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Ubicación:</span> </b></td><td width=30% align=right><%= @assistance.service.ubication %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Destino:</span></b></td><td width=30% align=right> <%= @assistance.service.destiny %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Marca:</span></b></td><td width=30% align=right> <%= @assistance.service.brand %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Tipo:</span></b></td><td width=30% align=right> <%= @assistance.service.car_type %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Modelo:</span> </b></td><td width=30% align=right><%= @assistance.service.model %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Color:</span>  </b></td><td width=30% align=right><%= @assistance.service.color %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Placas:</span> </b></td><td width=30% align=right><%= @assistance.service.licence_plates %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Afiliado paga:</span></b></td><td width=30% align=right> <%= @assistance.affiliate_pays %>$</td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Compañía paga:</span> </b></td><td width=30% align=right><%= @assistance.company_pays %>$</td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Contacto:</span> </b></td><td width=30% align=right><%= @assistance.contact_time %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Termino:</span></b></td><td width=30% align=right> <%= @assistance.end_time %></td>
      <td width=70%></td>
    </tr>
    <tr height=10></tr>
    <tr>
      <td width=15%  bgcolor="#DCDCDC"><b><span>Comentarios:</span></b></td><td width=30% align=right> <%= @assistance.comments %></td>
      <td width=70%></td>
    </tr>
      <tr height=10></tr>
      <tr height=80></tr>
  </table>








<p style="float: right; font-size: 17px; font-family: Arial;">
  <i>Recibo generado: <%= Time.zone.now.strftime('%d/%m/%Y - %I:%M:%S %p') %></i></p> -->

</body>

</html>
