<%= link_to 'Nuevo servicio de asistencia', new_assistance_path %>

<%= search_form_for @q do |f| %>

<%= f.search_field :record_number_cont, placeholder: 'Numero de expediente' %>
<%= f.search_field :company_user_cont, placeholder: 'Quien autoriza' %>
<%= f.search_field :affiliate_name_cont, placeholder: 'Nombre de afiliado' %>
<%= f.search_field :affiliate_pays_cont, placeholder: 'Afiliado paga' %>
<%= f.search_field :company_pays_cont, placeholder: 'Compañia paga' %>
<%= f.search_field :who_quoted_cont, placeholder: 'Quien cotizó' %>
<%= f.search_field :service_client_cont, placeholder: 'Nombre del cliente' %>
<%= f.search_field :service_ubication_cont, placeholder: 'Ubicación' %>
<%= f.search_field :service_destiny_cont, placeholder: 'Destino' %>
<%= f.search_field :service_inventary_num_cont, placeholder: 'Número de inventario' %>
<%= f.search_field :service_keys_num_cont, placeholder: 'Número de llaves' %>
<%= f.search_field :service_brand_cont, placeholder: 'Marca' %>
<%= f.search_field :service_car_type_cont, placeholder: 'Tipo' %>
<%= f.search_field :service_color_cont, placeholder: 'Color' %>
<%= f.search_field :service_licence_plates_cont, placeholder: 'Placas' %>
<%= f.search_field :service_model_cont, placeholder: 'Modelo' %>
<%= f.search_field :service_operator_name_cont, placeholder: 'Operador' %>
<%= f.search_field :service_truck_number_cont, placeholder: 'Grua' %>
<br>

<br>
<%= f.submit "Buscar"%>
<%end%>

<br>

<% @assistance.each do |a| %>
  <tr>
    <td>Numero de asistencia: <%= a.id%> </td>
    <td>Numero de expediente: <%= a.record_number%> </td>
    <td>Quien autoriza: <%= a.company_user%> </td>
    <td>Nombre del afiliado: <%= a.affiliate_name %> </td>
    <td>Afiliado paga: <%= a.affiliate_pays %> </td>
    <td>Compañia paga: <%= a.company_pays %> </td>
    <td>Contacto: <%= a.contact_time %> </td>
    <td>Termino: <%= a.end_time %> </td>
    <td>Quien cotizo: <%= a.who_quoted %> </td>
    <td>Comentarios: <%= a.comments %> </td>
    <%= link_to 'Mostrar a detalle', a, method: :get %>
    <br>
  </tr>
<% end %>
