<h2 class="h2-sign">Asistencias</h2>
<div class="assistances-contenedor">

  <%= search_form_for @q do |f| %>

  <%= f.search_field :record_number_cont, placeholder: 'Numero de expediente' %>
  <%= f.search_field :company_user_cont, placeholder: 'Quien autoriza' %>
  <%= f.search_field :affiliate_name_cont, placeholder: 'Nombre de afiliado' %>
  <%= f.search_field :affiliate_pays_cont, placeholder: 'Afiliado paga' %>
  <%= f.search_field :company_pays_cont, placeholder: 'Compañia paga' %>
  <%= f.search_field :who_quoted_cont, placeholder: 'Quien cotizó' %>
  <%= f.search_field :service_client_cont, placeholder: 'Nombre del cliente' %>
  <%= f.search_field :service_ubication_cont, placeholder: 'Ubicación' %>
  <%= f.search_field :service_destiny_cont, placeholder: 'Destino' %>
  <%= f.search_field :service_keys_num_cont, placeholder: 'Número de llaves' %>
  <%= f.search_field :service_brand_cont, placeholder: 'Marca' %>
  <%= f.search_field :service_car_type_cont, placeholder: 'Tipo' %>
  <%= f.search_field :service_color_cont, placeholder: 'Color' %>
  <%= f.search_field :service_licence_plates_cont, placeholder: 'Placas' %>
  <%= f.search_field :service_model_cont, placeholder: 'Modelo' %>
  <%= f.search_field :service_operator_name_cont, placeholder: 'Operador' %>
  <%= f.search_field :service_truck_number_cont, placeholder: 'Grua' %>

  <div class="SN-contenedor">
    <%= f.submit "Buscar"%>
    <%= link_to 'Nuevo servicio de asistencia', new_assistance_path %>
  </div>

  <%end%>
  <%if @assistance.any? %>
  <div class="resultado-assistances">
    <% @assistance.each do |a| %>
    <div class="S_A">
      <div class="campo_data"><span>Numero de asistencia: </span></div><div class="campo_data2"> <%= a.id%></div>
      <div class="campo_data"><span>Numero de expediente: </span></div><div class="campo_data2"> <%= a.record_number%></div>
      <div class="campo_data"><span>Quien autoriza: </span></div><div class="campo_data2"> <%= a.company_user%></div>
      <div class="campo_data"><span>Nombre del afiliado: </span></div><div class="campo_data2"> <%= a.affiliate_name %></div>
      <div class="campo_data"><span>Afiliado paga: </span></div><div class="campo_data2"> <%= a.affiliate_pays %></div>
      <div class="campo_data"><span>Compañia paga: </span></div><div class="campo_data2"> <%= a.company_pays %></div>
      <div class="campo_data"><span>Contacto: </span></div><div class="campo_data2"> <%= a.contact_time.strftime("%I:%M%p") %></div>
      <div class="campo_data"><span>Termino: </span></div><div class="campo_data2"> <%= a.end_time.strftime("%I:%M%p") %></div>
      <div class="campo_data"><span>Quien cotizo: </span></div><div class="campo_data2"> <%= a.who_quoted %></div>
      <div class="campo_data"><span>Comentarios: </span></div><div class="campo_data2"> <%= a.comments %></div>

      <div class="detail"><%= link_to 'Mostrar a detalle', a, method: :get %>
      <%= link_to 'Generar PDF', assistance_path(a, :format => 'pdf'), target: "_blank" %></div>

    </div>
    <% end %>
    <% else %>
    <%#Make me look fancy?%>
    <p>No hay asistencias registradas el día de hoy.</p>
    <%end%>
  </div>

</div>
