<!DOCTYPE html>
<html>
<head>
  	<title>Gruas Garcia de Alba</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
  	<section id="header">
      <%= link_to(image_tag("logo.png", id: "logo", :title => "Home"), "/",class: "index_logo") %><h1 id="title" class="white">Gruas Garcia de Alba</h1>
  	</section>
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>">
        <%= msg %>
      </div>
    <% end %>

  	<div class="contenedor">
  		<%= yield %>
  	</div>

</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgn8exm35ik44TxPEsloyQcDRIQV-A7MQ&callback=initMap" ></script>
</html>
