<%= form_for @service do |s| %>
<div class="list3">
  <div class="columnas">
    <div class="column1">
      <div class="field">
        <div class="left">
          <ul>
            <li>Fecha:</li>
            <li> <%= s.date_field :date, :value => current_page?(:action => 'new') ? Time.now.strftime('%Y-%m-%d'):nil %></li>
          </ul>
        </div>
      </div>

      <div class="field">
        <div class="left">
          <ul>
            <li>Hora:</li>
            <li> <%= s.time_field :hour %></li>
          </ul>
        </div>
      </div>

      <div class="field">
        <div class="left">
          <ul>
            <li>Nombre del cliente:</li>
            <li> <%= s.text_field :client %></li>
          </ul>
        </div>
      </div>

      <div class="field">
        <div class="left">
          <ul>
            <li>Ubicación: </li>
            <li><%= s.text_field :ubication %></li>
          </ul>
        </div>
      </div>
      <div class="field">
        <div class="left">
          <ul>
            <li>Destino:</li>
            <li> <%= s.text_field :destiny %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="column2">
      <div class="field">
        <div class="left">
          <ul>
            <li>Operador: </li>
            <li><%= s.collection_select :operator_id, Operator.all, :id, :name %></li>
          </ul>
        </div>
      </div>
      <div class="field">
        <div class="left">
          <ul>
            <li>Grua:</li>
            <li><%= s.collection_select :truck_id, Truck.all, :id, :number %></li>
          </ul>
        </div>
      </div>
      <div class="field">
        <div class="left">
          <ul>
            <li>Número de inventario: </li>
            <li><%= s.number_field :inventary_num %></li>
          </ul>
        </div>
      </div>
      <div class="field">
        <div class="left">
          <ul>
            <li>Número de llaves: </li>
            <li><%= s.number_field :keys_num %></li>
          </ul>
        </div>
      </div>
      <div class="field">
        <div class="left">
          <ul>
            <li>Marca:</li>
            <li> <%= s.text_field :brand %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="column3">
      <div class="field">
        <div class="left">
          <ul>
            <li>Tipo:</li>
            <li> <%= s.text_field :car_type %></li>
          </ul>
        </div>
      </div>
      <div class="field">
        <div class="left">
          <ul>
            <li>Modelo:</li>
            <li> <%= s.text_field :model %></li>
          </ul>
        </div>
      </div>
      <div class="field">
        <div class="left">
          <ul>
            <li>Color: </li>
            <li><%= s.text_field :color %></li>
          </ul>
        </div>
      </div>
      <div class="field">
        <div class="left">
          <ul>
            <li>Placas:</li>
            <li> <%= s.text_field :licence_plates %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="registrar-cen">
    <div class="field">
      <div class="left">
          <%= submit_tag("Finalizar") %>
          <%= link_to 'Atras', services_path %>
      </div>
    </div>
  </div>
</div>
<%end%>
