<% @services.each do |s| %>
  <tr>
    <td>Fecha <%= s.date %></td>
    <td>Hora <%= s.hour %></td>
    <td>Cliente <%= s.client %></td>
    <td>Grua <%= s.truck.number %></td>
    <td>Operador <%= s.operator.name %></td>
    <td>Ubicacion <%= s.ubication %></td>
    <td>Destino <%= s.destiny %></td>
    <td>#Inventario <%= s.inventary_num %></td>
    <td>Marca <%= s.brand %></td>
    <td>Tipo <%= s.car_type %></td>
    <td>Modelo <%= s.model %></td>
    <td>Color <%= s.color %></td>
    <td>Placas <%= s.licence_plates %></td>
    <br>
  </tr>
<% end %>
<%= link_to 'Nuevo servicio', new_service_path %>
