<%= link_to 'Nuevo servicio', new_service_path %>

<br>

<% @services.each do |s| %>
  <tr>
    <td>Fecha <%= s.date %></td>
    <td>Hora <%= s.hour %></td>
    <td>Cliente <%= s.client %></td>
    <td>Operador <%= s.operator.name %></td>
    <td>Ubicacion <%= s.ubication %></td>
    <td>Destino <%= s.destiny %></td>
    
    <%= link_to 'Mostrar a detalle', s, method: :get %>
    <br>
  </tr>
<% end %>

