<div class="mas_detalles">
  <p>Numero de servicio: <%= @service.id %></p>
  <p>Fecha: <%= @service.date %></p>
  <p>Hora: <%= @service.hour %></p>
  <p>Cliente: <%= @service.client %></p>
  <p>Grua: <%= @service.truck.number %></p>
  <p>Operador: <%= @service.operator.name %></p>
  <p>Ubicacion: <%= @service.ubication %></p>
  <p>Destino: <%= @service.destiny %></p>
  <p>#Inventario: <%= @service.inventary_num %></p>
  <p>Marca: <%= @service.brand %></p>
  <p>Tipo: <%= @service.car_type %></p>
  <p>Modelo: <%= @service.model %></p>
  <p>Color: <%= @service.color %></p>
  <p>Placas: <%= @service.licence_plates %></p>
  <%= link_to 'Editar', edit_service_path(@service) %>
  <%= link_to 'Eliminar', @service, method: :delete %>

</div>

<br>
