<tr>
  <td>Fecha <%= @service.date %></td>
  <td>Hora <%= @service.hour %></td>
  <td>Cliente <%= @service.client %></td>
  <td>Grua <%= @service.truck.number %></td>
  <td>Operador <%= @service.operator.name %></td>
  <td>Ubicacion <%= @service.ubication %></td>
  <td>Destino <%= @service.destiny %></td>
  <td>#Inventario <%= @service.inventary_num %></td>
  <td>Marca <%= @service.brand %></td>
  <td>Tipo <%= @service.car_type %></td>
  <td>Modelo <%= @service.model %></td>
  <td>Color <%= @service.color %></td>
  <td>Placas <%= @service.licence_plates %></td>
  <%= link_to 'Editar', edit_service_path(@service) %>
  <%= link_to 'Eliminar', @service, method: :delete %>
  <br>
</tr>
