<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Kilometros:</strong>
  <%= @route.kilometers %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
