<p id="notice"><%= notice %></p>
<div class="mas_detalles">
  <div class="detalles">

    <div class="detalle"><p><span>Nombre: </span><%= @route.name %></p></div>
    <div class="detalle"><p><span>Kilometros: </span><%= @route.kilometers %></p></div>
    <div class="detalle"><p><span>Casetas: </span><%= @route.booth_price %></p></div>
  </div>
  <div class="detalle-b">
    <%= link_to 'Editar', edit_route_path(@route) %>
    <%= link_to 'Atras', routes_path %>
  </div>
</div>
