<p id="notice"><%= notice %></p>

<h2 class="h2-sign">Calculadora de precios</h2>

<%= form_tag do %>
<div class="list2">
  <div class="calculator-contenedor">
    <div class="field">
        <ul>
          <li>Destino: <%= collection_select :route_price, :id, Route.all, :name, :name %></li>
        </ul>
    </div>
    <div class="field">
        <ul>
          <li>Tipo de grua: <%= collection_select :price_category, :id, Price.all, :category, :category %></li>
        </ul>
    </div>
    <div class="field">
        <ul>
          <li>Contiene IVA: <%= check_box_tag(:has_iva) %></li>
        </ul>
    </div>
      <div class="field">
        <ul>
          <li><a id="btn_calcular" href="#">Calcular</a></li>
        </ul>

        <!-- class="index_button" -->
      </div>
    </div>


  <h2 class="h2-sign">Desglose: </h2>
  <div class="calculator-center">
    <ul id="breakdown"></ul>
  </div>
  <h2 id="result" class="h2-sign">Precio Total: </h2>
<% end %>
</div>


<%= content_tag :div, class: "prices_class", data: {prices: @prices} do %>
<% end %>
<%= content_tag :div, class: "routes_class", data: {routes: @routes} do %>
<% end %>
