<% if @truck.errors.any? %>
  <div id="error_explanation">
    <% @truck.errors.full_messages.each do |msg| %>
      <div class="alert alert-error">Error: <%= msg %></div>
    <% end %>
  </div>
<% end %>

<%= form_for @truck do |f| %>

    <div class="list2">
      <ul>
        <div class="field">
          <li>Numero de Grua</li>
          <li>  <%= f.text_field :number %></li>
        </div>
        <div class="field">
          <%# NOTE: If the user is trying to edit some record here
               the select is not going to show the current value
               instead it is going to show the first element => A %>
          <li>Tipo</li>
          <li><%= f.select :classification, options_for_select([['A', "A"], ['B', "B"], ['C', "C"], ['D', "D"]]) %></li>
        </div>
        <div class="field">
          <li>Descripcion</li>
          <li>  <%= f.text_area :description %></li>
        </div>
        <div class="field">
          <%= submit_tag("Finalizar") %>
          <%= link_to 'Atras', trucks_path %>
        </div>
      </ul>
    </div>
<% end %>
