<h2>Gruas</h2>
<div class="trucks-contenedor">

  <%= link_to 'Nueva Grua', new_truck_path %>

  <% @trucks.each do |truck| %>
    <div class="list1">
      <ul>
        <li><%= truck.number %></li>
        <li><%= truck.classification %> :  </li>
        <li><%= truck.description %></li>
        <li><%= link_to 'Editar', edit_truck_path(truck) %></li>
      </ul>
    </div>
  <% end %>
</div>
