<h2 class="h2-sign">Gruas</h2>
<div class="trucks-contenedor">

  <div class="list1">
    <ul>
      <li>Numero de Grua</li>
      <li>Tipo</li>
      <li>Descripcion</li>
      <li></li>
    </ul>
  </div>
  <% @trucks.each do |truck| %>
    <div class="list1">
      <ul>
        <li><%= truck.number %></li>
        <li><%= truck.classification %></li>
        <li><%= truck.description %></li>
        <li><%= link_to 'Editar', edit_truck_path(truck) %></li>
      </ul>
    </div>
  <% end %>
  <%= link_to 'Nueva Grua', new_truck_path %>
</div>
